body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td { 
    margin:0; 
    padding:0; 
} 
table { 
    border-collapse:collapse; 
    border-spacing:0; 
} 
fieldset,img { 
    border:0; 
    display:block;
} 
address,caption,cite,code,dfn,em,strong,th,var { 
    font-style:normal; 
    font-weight:normal; 
} 
ol,ul { 
    list-style:none; 
} 
caption,th { 
    text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-size:100%; 
    font-weight:normal; 
} 
a{
    text-decoration:none;
    display:inline-block;
}

.clearfix:after{
        height:0;
        content:" ";
        display:block;
        overflow:hidden;
        clear:both;
    }
.clearfix{
    zoom:1;
}
.layui-table-cell{
    overflow:unset!important;
}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{
    overflow: hidden;
}
.layui-table-tips-main{display:none}
.layui-table-tips-c{display:none}